<!DOCTYPE html> 
<html> 
<head>
    <title>ParkinGo</title>
    <link rel="stylesheet" type="text/css" href="./static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap" rel="stylesheet">
    <link rel="icon" href="./static/media/icon.jpg">
</head>
<body> 
<div align="center">
    <div>
        <!-- <h3>ParkinGo</h3> -->
        <img id="mainlogo" src="./static/media/logo.jpg" style='max-width: 450px'>
    </div>
    <div>
        <div id="highlightspot"></div>
        <div id="coverContainer">
            <div id="cover">
                <div id="player"/>
            </div>
        </div>
    </div>
    <div hidden id="spinner"></div>

    <div id="parking-table">
		<table id="spots-table"></table>
	</div>

	<div id="counter-container">
		<div id="free-container" class="slots-counter">
			<div id="free-header">
				Free
			</div>
			<div id="free-counter">
			</div>
		</div>
		<div id="occupied-container" class="slots-counter">
			<div id="occupied-header">
				Occupied
			</div>
			<div id="occupied-counter">
			</div>
		</div>
	</div>
	
</body>
<footer>
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="./static/js/jquery.animateNumber.min.js"></script>
    <script type="text/javascript" src="./static/js/main.js"></script>
</footer>
</html>