#viewer {
  height: 80vh;
  width: 100%;
}

.message{
  position: relative;
  top: 20vh;
  color: red;
  font-size: 2em;
}

.image {
  position: relative;
  top: 15vh;
  left: 23vw;
  text-align: center;
}
