#container {
  background-color: rgba(240, 70, 70, 0.8);
  height: 10vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.page-title {
  font-size: 8vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#logo {
  width: 8vh;
  height: 8vh;
}
